<div class="d-flex flex-direction-column">

  <!--header -->
  <header class="d-flex col-12 justify-content-between">

    <div class="col-4 col-md-2">
      <span>LOGO</span>
    </div>

    <div class="col-4 col-md-2">
      <span>RECHERCHE</span>
    </div>

    <div class="col-6 col-md-4">
      Help + User info
    </div>
  </header>

  <div class="d-flex flex-direction-column flex-direction-md-row ">
    <!-- Navigation-->
    <nav class="col-12 col-md-2 d-flex flex-direction-column  ">

      <div>
        <ul class="d-flex "></ul>
        <li>menu1</li>
        <li>menu2</li>
        <li>plus ...</li>
      </div>
      <!-- list des canaux-->
      <div>
        <ul class="d-flex ">
          <li>#general</li>
          <li>#formation</li>
          <li>#projG1</li>
          <li>#projG2</li>
          <li>#projG3</li>
        </ul>
      </div>
      <!-- Messages direct-->
      <div>
        <ul class="d-flex ">
          <li>user1</li>
          <li>user2</li>
          <li>user3</li>
          <li>uer4</li>
          <li>user5</li>
          <li>user6</li>
        </ul>
      </div>
    </nav>

    <!-- chat body-->
    <div class="col-12 col-md-10 d-flex">
      corps des exchanges messages
    </div>

  </div>



  <footer class="col-12">
    footer
  </footer>
